.App {
  text-align: center;
  background-color: rgb(170, 163, 163);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(180, 175, 175);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(180, 175, 175);
}

.App-link {
  color: #61dafb;
}

.candidate {
  display: block;
  margin-left: 1%;
  margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 120px;
}

/* Clearfix (clear floats) */
.row::after {
  position: relative;
  top: -200px; 
  content: "";
  clear: both;
  display: table;
}


.button{
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 26px/1 "Arvo", serif;
  text-align:    center;
  text-shadow:   2px 2px #000000;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
